<!DOCTYPE html>
<html>
  <head>
    <title><%= viewBag.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= viewBag.title %></h1>
    <p>Welcome to <%= viewBag.title %></p>
  </body>
</html>
